<h1>Nouveau contact</h1>

<ul>
    <li>Email: {{ contact.email }}</li>
    <li>Prénom: {{ contact.firstName ? contact.firstName: 'Non précisé' }}</li>
    <li>Nom: {{ contact.lastName ? contact.lastName: 'Non précisé' }}</li>
    <li>Prénom: {{ contact.phoneNumber ? contact.phoneNumber: 'Non précisé' }}</li>
</ul>

<p>{{ contact.subject }}</p>

<p>
    {{ contact.content }}
</p>
